.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body{
    background-color: #151A20;
  }
  
  .saldo{
    color: white;
  }
  
  .endereco{
    color: white
  }
  
  .logo{
    display: center;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 40px;
  }
  
  .logo p{
    color: white; 
    margin-left: 0px;
  
  }
  
  .text{
    color: white
  }
  
  
  .caixas p {
    color: white;
  }
  
  .verificar p{
    color:white
    
  }
  .botao1{
    background-color: #303030;
  }
  
  .botao2{
    background-color: #303030;
  }
  
  .depositar{
    background-color: #02DE82;
  }
  
  .escrita{
  text-size-adjust: 10px;
  }