.logo {
    display: flex-end;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 12px;
}

.logo_menu {
    display: flex-end;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
} 
  
.logo img {
    max-height: 68px;
    max-width: 250px;
}
  
.texto {
    margin-left: 45px;
    color: white;
}
  
.button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
  
.button-container button {
    margin-bottom: 25px;
    width: 290px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #303030;
    border-radius: 10px;
    border: #303030;
}
  
.botao-sair {
    margin-bottom: 25px;
    width: 280px;
    height: 50px;
    background-color: red;
    border: red;
    border-radius: 8px;
    color: white;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
body {
    background-color: #151a20;
}
  
.icone1 {
    margin-left: 20px;
    display: flex;
    margin-top: -57px;
}
  
.icone2 {
    margin-left: 20px;
    display: flex;
    margin-top: -57px;
}
  
.icone3 {
    margin-left: 20px;
    display: flex;
    margin-top: -57px;
}
  
.icone4 {
    margin-left: 20px;
    display: flex;
    margin-top: -57px;
}
  
.icone5 {
    margin-left: 20px;
    display: flex;
    margin-top: -57px;
}
  
.vector {
    margin-left: 200px;
    display: flex;
    margin-top: -17px;
}
  