.TelaEntrada {
  font-family: sans-serif;
  text-align: center;
}

.IconCheck {
  align-items: center;
  width: 80px;
  margin-left: 10px;
  margin-top: 30px;

}

.texto55 {
  margin-top: -12px;
}

body {
  background-color: #151A20;
}

.logo {
  display: flex-end;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
}

.saldo {
  color: white;
  margin-right: 260px;
}


.caixas p {
  color: white;
}

.verificar p {
  color: white
}

.botao1 {
  background-color: #303030;
  width: 300px;
  height: 30px;
  border: 1px solid #303030;
  border-radius: 8px;
}

.botao2 {
  background-color: #303030;
  margin-left: 12px;
  width: 300px;
  height: 30px;
  border: 1px solid #303030;
  border-radius: 8px;
}

.desconectar {
  background-color: #FF2626;
  margin-top: 20px;
  width: 312px;
  height: 47px;
  color: white;
  border: #FF2626;
  border-radius: 8px;
  font-size: large;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continuar {
  background-color: #02DE82;
  margin-top: 20px;
  width: 312px;
  height: 47px;
  background-color: #02de82;
  color: white;
  border: #02de82;
  border-radius: 8px;
  font-size: large;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}