.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
}

.iconesaibamais {
  margin-top: 50px;
  margin-right: 100px;
}

.texto11 {
  color: white;
  margin-top: -30px;
  margin-left: 140px;
  font-size: large;
}

.texto22 {
  color: white;
  margin-top: 50px;
  margin-left: 13px;
  font-size: large;
}

body {
  background-color: #151a20;
  max-width: 400px;
  padding: 0;
  margin: 0 auto !important;
}

.caixa_ {
  margin-left: 80px;
  margin-top: 40px;
  border: 1px solid #303030;
  border-radius: 8px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  width: 250px;
}

.caixa2 {
  margin-left: 40px;
  margin-top: 40px;
  border: 1px solid #303030;
  border-radius: 8px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  width: 320px;
  height: 65px;
}

.caixa3_ {
  margin-left: 40px;
  margin-top: 40px;
  border: 1px solid #303030;
  border-radius: 8px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  width: 300px;
}

.texto33 {
  display: flex;
  font-size: 21px;
  color: white;
  margin-right: 20px;
  margin-left: 25px;
  text-align: center;
  align-items: center;
}

.texto34 {
  font-size: 23px;
  color: white;
  margin-right: 20px;
  margin-left: 25px;
  text-align: center;
  align-items: center;
}

.texto35 {
  text-align: initial;
  font-size: 23px;
  color: white;
  margin-right: 20px;
  margin-left: 25px;
  text-align: center;
}

.caixa1- {
  margin-top: 10px;
  margin-left: 45px;
  border: 1px solid #303030;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  width: 20px;
  height: 50px;
}

.vector {
  margin-left: 270px;
  margin-top: -20px;
}