
.logo {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 42px;
}

.check {
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 132px;
    max-height: 133px;
    margin-left: 130px;
}

.check img {
    max-height: 132px;
    max-width: 133px;
}

.texto1- {
    color: #f2f2f2;
//<<<<<<< HEAD
    margin-top: 50px;
//=======
    margin-top: 10px;
//>>>>>>> 84f55b30b8ed20a474143039624cd99a898499b6
    text-align: center;
}

.texto2- {
    color: #c1c1c1;
    margin-top: 30px;
    text-align: center;
}

.texto3- {
    color: #f2f2f2;
    margin-top: 50px;
    text-align: center;
}

.button {
    display: block;
    flex-direction: column;
    font-size: large;
}

.button1 {
    margin-top: 10px;
    width: 145px;
    height: 30px;
//<<<<<<< HEAD
    margin-left: 210px;
//=======
//>>>>>>> 84f55b30b8ed20a474143039624cd99a898499b6
    background-color: #c9c100;
    color: white;
    font-size: large;
}

.button2 {
    margin-top: 30px;
    width: 312px;
    height: 47px;
    background-color: #02de82;
    color: white;
    border: #02de82;
    border-radius: 8px;
    font-size: large;
}

.button3 {
    margin-top: 20px;
    width: 264px;
    height: 44px;
    background-color: #858585;
    color: white;
    border: #858585;
    border-radius: 8px;
    font-size: large;
}

body {
    background-color: #151a20;
    max-width: 400px;
    padding: 0;
    margin: 0 auto !important;
    }
