.Contrato{
    display: flex;
    flex-direction: column;
}

.TítuloContrato{
    display: grid;
    grid-template-columns: 120px 160px 120px;
    grid-auto-rows: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

